<%= form_for location do |location_form| %>

<p>
  <%= location_form.label :name %>
  <%= location_form.text_field :name %>
</p>
<p>
  <%= location_form.label :city %>
  <%= location_form.text_field :city %>
</p>
<p>
  <%= location_form.label :description %>
  <%= location_form.text_field :description %>
</p>
<p>
  <%= location_form.label :image %>
  <%= location_form.text_field :image %>
</p>
<p>
  <%= location_form.submit %>
</p>
  <%end%>
